---
import Layout from "../layouts/Layout.astro";
---

<Layout title="照片取色器">
  <main class="container flex-col justify-between h-100dvh mx-auto">
    <div
      class="relative flex items-center bg-warm-gray-100 h-14 border-b-solid border-b-warm-gray-200"
    >
      <input type="file" id="fileInput" accept="image/*" hidden />
      <div class="absolute left-2 flex items-center justify-center">
        <p class="text-center p-1 select-none text-black">取色器</p>
        <i class="i-tdesign-color-invert-filled text-6"></i>
      </div>
      <label
        class="absolute right-2 p-2 rounded-full bg-blue-600 text-white text-sm w-18 h-6 font-bold text-center cursor-pointer flex justify-center items-center"
        for="fileInput"
        class="upload-btn">上传照片</label
      >
    </div>
    <div class="image-container w-full h-60dvh! flex-col relative">
      <canvas class="w-full h-full" id="mainCanvas"></canvas>
      <canvas id="pickerCanvas" class="absolute left-0 top-0"></canvas>
      <canvas
        class="absolute top-1 right-1 w-24 h-24 z-20 duration-200 transition-all border-opacity-50 rounded-full border-2 drop-shadow-2xl border-solid border-warm-gray-200"
        id="zoomCanvas"></canvas>
    </div>
    <div
      class="color-box touchpad relative bg-warm-gray-100 border-solid border-t-warm-gray-200 h-35dvh flex items-center justify-center text-2xl text-gray-2 rounded-xl select-none"
    >
      <span
        class="color-value z-10 rounded-xl absolute top-1 left-1 text-sm font-thin italic flex items-center justify-center text-white! bg-dark-2 w-18"
        >#FFFFFF</span
      >
      <i
        class="pointer i-tdesign-gesture-slide-left-and-right-filled p-5 transition-all duration-500"
      ></i>
    </div>
  </main>
</Layout>

<script>
import { navigate } from "astro:transitions/client";

  let mainCanvas: HTMLCanvasElement | null,
    zoomCanvas: HTMLCanvasElement | null,
    pickerCanvas: HTMLCanvasElement | null,
    pointer: HTMLElement;
  let mainCtx: CanvasRenderingContext2D | null,
    zoomCtx: CanvasRenderingContext2D | null,
    pickerCtx: CanvasRenderingContext2D | null;
  let sourceImage: ImageBitmap | null = null;
  let pickerPos = { x: 0, y: 0 };
  const colorValue:HTMLSpanElement | null = document.querySelector(".color-value");
  const cursorPointer = document.querySelector(".pointer");
  let isDragging = false;
  const dpr = window.devicePixelRatio || 1;
  // color inverse
  function getComplementaryColor(hexColor: string) {
    if (hexColor.startsWith("#")) {
      hexColor = hexColor.slice(1);
    }

    // check hex value
    if (hexColor.length !== 6) {
      throw new Error("error of hex value");
    }

    // get r, g, b value
    const r = parseInt(hexColor.slice(0, 2), 16);
    const g = parseInt(hexColor.slice(2, 4), 16);
    const b = parseInt(hexColor.slice(4, 6), 16);

    // calculate complementary color
    const complementaryR = 255 - r;
    const complementaryG = 255 - g;
    const complementaryB = 255 - b;

    // convert to hex
    const toHex = (value: any) => {
      const hex = value.toString(16);
      return hex.length === 1 ? "0" + hex : hex;
    };

    const complementaryHexR = toHex(complementaryR);
    const complementaryHexG = toHex(complementaryG);
    const complementaryHexB = toHex(complementaryB);

    // return hex color
    return "#" + complementaryHexR + complementaryHexG + complementaryHexB;
  }

  // init canvas
  function initCanvas() {
    mainCanvas = document.getElementById("mainCanvas") as HTMLCanvasElement;
    zoomCanvas = document.getElementById("zoomCanvas") as HTMLCanvasElement;
    pickerCanvas = document.getElementById("pickerCanvas") as HTMLCanvasElement;

    // config main canvas
    mainCtx = mainCanvas.getContext("2d", { willReadFrequently: true });
    mainCanvas.style.touchAction = "none";

    // config zoom canvas
    zoomCtx = zoomCanvas.getContext("2d");
    zoomCanvas.width = 50 * dpr;
    zoomCanvas.height = 50 * dpr;
    zoomCanvas.style.width = "100px";
    zoomCanvas.style.height = "100px";
    zoomCanvas.onclick = function () {
      if (zoomCanvas!.style.opacity === "0.25") zoomCanvas!.style.opacity = "1";
      else zoomCanvas!.style.opacity = "0.25";
    };

    // config picker canvas
    pickerCtx = pickerCanvas.getContext("2d");
    pickerCanvas.width = mainCanvas.width;
    pickerCanvas.height = mainCanvas.height;
    pickerCanvas.style.width = mainCanvas.style.width;
    pickerCanvas.style.height = mainCanvas.style.height;
  }

  // load image
  document
    .getElementById("fileInput")
    ?.addEventListener("change", async (e) => {
      const file = e.target.files[0];
      if (!file) return;

      const reader = new FileReader();
      reader.onload = async (event) => {
        const img = new Image();
        img.src = event.target!.result as any;

        await new Promise((resolve) => (img.onload = resolve));
        sourceImage = await createImageBitmap(img);

        const container = document.querySelector(".image-container");
        const containerWidth = container!.clientWidth;
        const containerHeight = container!.clientHeight;

        // config canvas real size
        mainCanvas!.width = containerWidth * 1 * dpr;
        mainCanvas!.height = containerHeight * 1 * dpr;
        mainCanvas!.style.width = `${containerWidth}px`;
        mainCanvas!.style.height = `${containerHeight}px`;

        pickerCanvas!.width = mainCanvas!.width;
        pickerCanvas!.height = mainCanvas!.height;
        pickerCanvas!.style.width = mainCanvas!.style.width;
        pickerCanvas!.style.height = mainCanvas!.style.height;

        // initial draw image
        drawImageOnCanvas();

        // initial color picker position
        pickerPos = {
          x: mainCanvas!.width / 2,
          y: mainCanvas!.height / 2,
        };
        updateColorPicker();
      };
      reader.readAsDataURL(file);
    });

  // 绘制图片到Canvas
  function drawImageOnCanvas() {
    if (!sourceImage || !mainCtx) return;

    const imageAspectRatio = sourceImage.width / sourceImage.height;
    const canvasAspectRatio = mainCanvas!.width / mainCanvas!.height;

    let displayWidth, displayHeight, xOffset, yOffset;

    if (imageAspectRatio > canvasAspectRatio) {
      // The image is relatively wider, and it is scaled based on the width of the canvas.
      displayWidth = mainCanvas!.width;
      displayHeight = displayWidth / imageAspectRatio;
    } else {
      // The image is relatively taller, so it is scaled based on the height of the canvas.
      displayHeight = mainCanvas!.height;
      displayWidth = displayHeight * imageAspectRatio;
    }

    // Calculate the offset for centering the image within the canvas.
    xOffset = (mainCanvas!.width - displayWidth) / 2;
    yOffset = (mainCanvas!.height - displayHeight) / 2;

    // Draw the original image
    mainCtx.drawImage(
      sourceImage,
      0,
      0,
      sourceImage.width,
      sourceImage.height,
      xOffset,
      yOffset,
      displayWidth,
      displayHeight
    );
    console.log("image draw");
  }

   colorValue!.ontouchstart = async function (){
    try{
    //  const hexValue:string | undefined = colorValue?.innerText
   alert(navigator.clipboard);
    
    //  await navigator.clipboard.writeText(colorValue?.innerText)
    }
    catch(error){
      console.error('复制失败:', error);
      alert(error);
    }
  }
  // update color picker
  function updateColorPicker() {
    if (!mainCtx || !sourceImage || !pickerCtx) return;

    const imageAspectRatio = sourceImage.width / sourceImage.height;
    const canvasAspectRatio = mainCanvas!.width / mainCanvas!.height;

    let displayWidth, displayHeight, xOffset, yOffset;

    if (imageAspectRatio > canvasAspectRatio) {
      // If the image is relatively wider, scale it based on the width of the canvas.
      displayWidth = mainCanvas!.width;
      displayHeight = displayWidth / imageAspectRatio;
    } else {
      // If the image is relatively taller, scale it based on the height of the canvas.
      displayHeight = mainCanvas!.height;
      displayWidth = displayHeight * imageAspectRatio;
    }

    // Calculate the offset for the image to be centered within the canvas.
    xOffset = (mainCanvas!.width - displayWidth) / 2;
    yOffset = (mainCanvas!.height - displayHeight) / 2;

    // pick color
    // Calculate the coordinates of the color - picking point on the original image.
    const sourceX = Math.floor(
      (pickerPos.x - xOffset) * (sourceImage.width / displayWidth)
    );
    const sourceY = Math.floor(
      (pickerPos.y - yOffset) * (sourceImage.height / displayHeight)
    );

    const tempCanvas = new OffscreenCanvas(1, 1);
    const tempCtx = tempCanvas.getContext("2d");
    tempCtx!.drawImage(sourceImage, sourceX, sourceY, 1, 1, 0, 0, 1, 1);
    const pixel = tempCtx!.getImageData(0, 0, 1, 1).data;
    const hex = `#${((1 << 24) + (pixel[0] << 16) + (pixel[1] << 8) + pixel[2]).toString(16).slice(1)}`;
    document.querySelector(".color-box").style.backgroundColor = hex;
    document.querySelector(".color-value")!.textContent = hex;
    colorValue.style.color = getComplementaryColor(hex);

    // Calculate the complementary color
    const inverseR = 255 - pixel[0];
    const inverseG = 255 - pixel[1];
    const inverseB = 255 - pixel[2];
    const inverseHex = `#${((1 << 24) + (inverseR << 16) + (inverseG << 8) + inverseB).toString(16).slice(1)}`;

    // Update the zoom canvas
    if (zoomCtx) {
      const zoomSize = 8 * dpr;
      zoomCtx.clearRect(0, 0, zoomCanvas!.width, zoomCanvas!.height);

      const zoomSourceX = Math.floor(
        (pickerPos.x - xOffset - zoomSize / 2) *
          (sourceImage.width / displayWidth)
      );
      const zoomSourceY = Math.floor(
        (pickerPos.y - yOffset - zoomSize / 2) *
          (sourceImage.height / displayHeight)
      );
      const zoomSourceWidth = Math.ceil(
        zoomSize * (sourceImage.width / displayWidth)
      );
      const zoomSourceHeight = Math.ceil(
        zoomSize * (sourceImage.height / displayHeight)
      );

      zoomCtx.drawImage(
        sourceImage,
        zoomSourceX,
        zoomSourceY,
        zoomSourceWidth,
        zoomSourceHeight,
        0,
        0,
        zoomCanvas!.width,
        zoomCanvas!.height
      );
    }

    // Clear the color picker canvas
    pickerCtx.clearRect(0, 0, pickerCanvas!.width, pickerCanvas!.height);

    // Draw the crosshairs on the color picker canvas
    const crosshairSize = 20 * dpr;
    const lineWidth = 2 * dpr;
    pickerCtx.strokeStyle = inverseHex; // Use the complementary color as the crosshair color
    pickerCtx.lineWidth = lineWidth;

    // Draw a horizontal line segment
    pickerCtx.beginPath();
    pickerCtx.moveTo(pickerPos.x - crosshairSize / 2, pickerPos.y);
    pickerCtx.lineTo(pickerPos.x + crosshairSize / 2, pickerPos.y);
    pickerCtx.stroke();

    // Draw a vertical line segment
    pickerCtx.beginPath();
    pickerCtx.moveTo(pickerPos.x, pickerPos.y - crosshairSize / 2);
    pickerCtx.lineTo(pickerPos.x, pickerPos.y + crosshairSize / 2);
    pickerCtx.stroke();
  }

  // Touch interaction handling
  const touchpad = document.querySelector(".touchpad");
  let startX = 0;
  let startY = 0;

  touchpad!.addEventListener("touchstart", (e) => {
    e.preventDefault();
    if (cursorPointer.style.opacity !== "0") cursorPointer!.style.opacity = "0";
    startX = e.touches[0].clientX;
    startY = e.touches[0].clientY;
    isDragging = true;
  });

  touchpad!.addEventListener("touchmove", (e) => {
    if (!isDragging || !sourceImage) return;
    e.preventDefault();

    const deltaX = e.touches[0].clientX - startX;
    const deltaY = e.touches[0].clientY - startY;

    pickerPos.x = Math.min(
      Math.max(pickerPos.x + deltaX * dpr * 2, 0),
      mainCanvas!.width
    );
    pickerPos.y = Math.min(
      Math.max(pickerPos.y + deltaY * dpr * 2, 0),
      mainCanvas!.height
    );

    startX = e.touches[0].clientX;
    startY = e.touches[0].clientY;

    // Repainting for performance optimization
    requestAnimationFrame(updateColorPicker);
  });

  touchpad.addEventListener("touchend", () => {
    isDragging = false;
  });

  window.addEventListener("load", initCanvas);
</script>
